/* Variables */
:root{
    --cssfileversion: "0009";
}


/* Global Styling */

* {
    margin: 0;
    padding: 0;
}

li {
    margin-left: 30px;
}

body{
    margin: 0;
    padding: 0;
}
div.menu-section {
    display: none;
    padding-top: 10px;
    margin-bottom: 80px;
}

.cafl-cta-summary{
    color:#171717;
    margin-top: 30px;
    letter-spacing: 2px;
    padding-top: 20px;
    max-width: 1000px;
}

.cafl-cta-summary h1, .cafl-cta-infopage h1{
    color:#79c;
    letter-spacing: 2px;
}


.cafl-cta-left {
    margin: 0;
    text-align: center;
}

.cafl-cta-left img{
    width: 60%;
    height: 500px;
    max-width: 400px;
    margin: 40px auto;
    object-fit: cover;
    border-radius: 3px;
    animation-name: CTA-anim;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.cafl-cta-infopage{
    padding: 5px 10% 0 5%;
}

.cafl-quote{
    font-weight: 600;
    color: #aaa;
    font-style: oblique;
    padding: 0 10px;
    font-size: 95%;
    line-height: 1.1;
    letter-spacing: 2px;
}

.cafl-reference {
    text-align: right;
    margin: -15px 0 30px 0;
}

.cafl-reference a{
    font-size: 10pt;
}

/* End of Global Styling */

/* Site Header Space */

.cafl-header{
    overflow: visible;
    height: 120px;
  }


.cafl-header-logo {
    height: 100%;
    float: left;
}

.cafl-header-text {
    height: 50%;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    font-size: 18pt;
    padding: 0 30px;
    margin: 0;
}

.cafl-header-strapline {
    height: 50%;
    display: block;
    align-items: center;
    letter-spacing: 3px;
    font-size: 14pt;
    padding: 0 40px 40px 0;
    text-align: right;
    width: 100%;
    font-style: oblique;
    font-weight: 700;
    color: #999;
}
/* End of Site Header Space */

/* Navigation */
.nav-item {
    width: 20%;
}

.navbar-nav{
    width: 100%;
}
/*End of Navigation */

/* CTA */

.cafl-vision, .cafl-cta-options{
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
}

.cafl-vision p, .cafl-cta-options p{
    font-size: 16pt;
}

.cafl-vision li, .cafl-cta-options li{
    margin-top: 5%;
    font-size: 14pt;
    list-style-type: circle;
}

.cafl-cta-options li{
    list-style-type: none;
    margin-bottom: 10%;
    font-weight: 700;
}

.cafl-cta-centre {
    display: flex;
    align-items: center;
}

.cafl-cta-image {
    width: 60%;
    height: 600px;
    max-width: 500px;
    margin: 10px auto;
    object-fit: cover;
    border-radius: 3px;
    animation-name: CTA-anim;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    padding: 5%;
    
 }

.cafl-cta-options a{
    color: #4561cc;
    padding-top: 10px;
}

.cafl-vision-footnote {
    position: relative;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 10pt;
    letter-spacing: normal;
}

.cafl-cta-headline {
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 10px;
    font-size: 14pt;
}

/* End of CTA */

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    background-color: #dddddddd;
    width: 100%;
    text-align: center;
    height: 80px;
}

.cafl-footer-link{
    float: left;
    width: 33%;
    margin: 0px auto 0px auto;
    font-weight: 800;
    padding-top: 5px;
}

.cafl-footer-bottom{
    float: left;
    font-size: 8pt;
    width: 100%;
    padding-top: 20px;
}

.cafl-footer-top{
    font-size: 10pt;
    width: 100%;
    text-align: center;
}

#CSSSerNo::before{
    content: var(--cssfileversion);
  }
/* End of Footer */


/* Animation for the front page call to action. */
@keyframes CTA-anim{
    from{
        transform: scale(1);
        opacity: 0.7;
        /* filter: blur(10px); */
      }
      to{
        transform: scale(1.1);
        opacity: 1;
        /* filter: blur(1px); */
      }

}